body {
	background-color: #EEFFBB;
	margin:	0px 0px 0px 0px;
}

.auth {
	font-family: Times New Roman, serif;
	font-style: italic;
	font-size: 18px;
	color: #707070;
	text-align: center;
	margin: 10px 0px 0px 0px;
}

.book {
	font-family: Times New Roman, serif;
	font-weight: bold;
	font-size: 22px;
	color: #669933;
	background-color: #CCFF99;
	margin:	10px 0px 10px 0px;
}

.chap {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #669933;
	background-color: #CCFF99;
	margin:	10px 0px 10px 0px;
}

.comment {
	color: #737373;
}

.opus, .end {
	color: #A6A6A6;
	text-align: right;
	margin: 0px 0px 0px 0px;
}

.errata {
	color: red;
}

.lang {
	color: #3399FF;
}

.manual {
	font-style: italic;
	color: #CC9900;
}

.note {
	font-style: italic;
	color: #737373;
}

div.page {
	font-family: Times New Roman, serif;
	font-size: 14px;
	margin:	10px 0px 10px 0px;
}

p.page {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #669933;
	background-color: #CCFF99;
	margin:	0px 0px 10px 0px;
}

.para {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #A6A6A6;
	margin:	10px 0px 10px 0px;
}

.src {
	font-family: Times New Roman, serif;
	font-weight: bold;
	font-size: 26px;
	color: #669933;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

div.verse {
	font-family: Times New Roman, serif;
	font-size: 14px;
	margin:	10px 0px 10px 0px;
}

p.verse {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #669933;
	margin:	0px 0px 10px 0px;
}