.DS_Store

/Unicoding/.idea/dictionaries
/Unicoding/.idea/workspace.xml
/Unicoding/.idea/tasks.xml
/Unicoding/.idea/perl5local.xml
/Unicoding/data
/Unicoding/data-Apokr
/Unicoding/data-VD
/Unicoding/data-JT
/Unicoding/*_ignore.bat

