.DS_Store
*.zip

/Unicoding/.idea/dictionaries
/Unicoding/.idea/workspace.xml
/Unicoding/.idea/tasks.xml
/Unicoding/.idea/perl5local.xml
/Unicoding/data
/Unicoding/data-*
/Unicoding/*_ignore.bat
/Unicoding/*-ignore.bat
/Unicoding/*-ignore
/Unicoding/*.vert

/Indexing/run/data
/Indexing/run/result-*
/Indexing/run/*.htm
/Indexing/run/*.txt
/Indexing/out

/Unicoding/_Deparsed_XSubs.pm
SENIE_symbols.*
