.DS_Store
*.zip
*/.idea/
*.kate-swp

/Unicoding/_Deparsed_XSubs.pm
/Unicoding/data
/Unicoding/data-*
/Unicoding/*_ignore.bat
/Unicoding/*-ignore.bat
/Unicoding/*_ignore.sh
/Unicoding/*-ignore.sh
/Unicoding/*-ignore
/Unicoding/*.vert
/Unicoding/*.tei.xml
/Unicoding/*.sql
/Unicoding/*.sql.gz

/Indexing/run/data
/Indexing/run/result-*
/Indexing/run/*.htm
/Indexing/run/*.txt
/Indexing/out

SENIE_symbols.*
