body {
	background-color: #EEFFBB;
	font-family: Linux Libertine, DejaVu Sans, Arial Unicode MS, GNU Unifont;
	/*margin:	0px 0px 0px 0px;*/
}

.source-address /* Pirmā tabulas kolonna: rindas vai panta adrese. */
{
	font-size: .9em;
	font-family: monospace;
	vertical-align: middle;
	text-align: right;
}

.source-line /* Otrā tabulas kolonna: viena avota rinda. */
{
	padding-left: 0.15em;
	font-size: 1.1em;
}

.source-page /* Lappusi norādošais teksts kvadrātiekavās. */
{
	display: block;
	font-style: italic;
	/*text-align: center;*/
	padding-left: 3em;	
}

.source-marked /* Jebkurš @?{...} marķējums, ieskaitot tekstu. */
{
	font-style: italic;
}

.source-correction /* Labojums tekstā, tas ir, pirms kurām nav @?. */
{
	font-size: .83em;
	vertical-align: sub;
}

.source-atcode /* @-kods, kuram būs tooltip skaidrojums. */
{
	border-bottom: 1px dotted black;
}