body {
	color: #505050;
	background-color: #EEFFBB;
}

a {
	color: #447711;
}

a:hover {
	color: #447711;
	background-color: #CCFF99;
}

.demo {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: red;
	margin:	10px 0px 0px 10px;
}

.text {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #447711;
	margin:	10px 0px 0px 10px;
}